<div class="container-fluid" style="background: #101010; color: white">
    <div class="container">
        <div class="row " style="height: 80px">
            <div class="col-xl-9 col-lg-8 col-md-7 bootom_text align-self-center">Copyright © 2018-2019 LIVENEWS. All Rights Reserved.</div>
            <div class="col-xl-3 col-lg-4 col-md-5 mx-auto" style="margin-top: 25px; display: inline-block">
                <img style="display: inline-block" src="/src/img/positivessl_trust_seal_sm_124x32.png">
                <script language="JavaScript" type="text/javascript">
                    TrustLogo("https://livenews.com.ua/src/img/positivessl_trust_seal_sm_124x32.png", "CL1", "none");
                </script>
                <a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
            </div>
        </div>
    </div>
</div>