<div class="container-fluid" style="background: #272727; color: white">
    <div class="container">
        <div class="row" style="min-height: 300px">
            <div class="d-none col-xl-4 d-xl-block col-lg-4 d-lg-block col-md-4 d-md-block">
                <div style="margin-left: -150px; height: 150px; background: url(/src/img/logo/logo-mod-1.jpg)no-repeat center center; background-size: 200px"></div>
                <div>
                    <p class="bootom_text">Онлайн сервис, агрегатор, по сбору наиболие интересных новостей Украины.</p>
                    <p class="bootom_text">Все статьи и медиа материаллы которые находяться на ресурсе, розмещены со всеми правилами цитирования или копирования, информации с оригинальных ресурсов.</p>
                    <p class="bootom_text">Данный ресурс не является правообладателем информации и не несет ответсвености за его публикацию. Информация предоставлена в ознакомительных целях.</p>
                </div>
            </div>
            <div class="col-12 d-xl-none d-lg-none d-md-none">
                {#<div style="margin-left: -150px; height: 150px; background: url(/src/img/logo/logo-mod-1.jpg)no-repeat center center; background-size: 200px"></div>#}
                <div style="margin-top: 20px">
                    <img height="170" src="/src/img/logo/logo-mod-1.jpg" align="left">
                    <p class="bootom_text">Онлайн сервис, агрегатор, по сбору наиболие интересных новостей Украины.</p>
                    <p class="bootom_text">Все статьи и медиа материаллы которые находяться на ресурсе, розмещены со всеми правилами цитирования или копирования, информации с оригинальных ресурсов.</p>
                    <p class="bootom_text">Данный ресурс не является правообладателем информации и не несет ответсвености за его публикацию. Информация предоставлена в ознакомительных целях.</p>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <div style="padding: 10px 10px 0 10px; border-bottom: 2px solid white">
                    <h1 style="padding-top: 14px; font-family: 'PT Sans Narrow', sans-serif;">Ресурсы</h1>
                </div>
                <div style="margin-top: 30px">
                    <p><a class="bootom_text" style="font-size: 15px; color: white; text-decoration: none;" href="#">Support</a></p>
                    <p><a class="bootom_text" style="font-size: 15px; color: white; text-decoration: none;" href="#">Media</a></p>
                    <p><a class="bootom_text" style="font-size: 15px; color: white; text-decoration: none;" href="#">FAQ</a></p>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-3 col-md-3">
                <div style="padding: 10px 10px 0 10px; border-bottom: 2px solid white">
                    <h1 style="padding-top: 14px; font-family: 'PT Sans Narrow', sans-serif;">Контакты</h1>
                </div>
                <div style="margin-top: 30px">
                    <p class="bootom_text">Украина, Киев</p>
                    <p class="bootom_text">Telephone : +38 097 6731570</p>
                    <p class="bootom_text"> E-mail : support@livenews.com.ua</p>
                </div>
            </div>
            <div class="col-12 col-xl-2 col-lg-2 col-md-2 col-sm-12">
                {#<div style="padding: 10px 10px 0 10px; border-bottom: 2px solid white">#}
                    {#<h1 style="padding-top: 14px; font-family: 'PT Sans Narrow', sans-serif;">Контакты</h1>#}
                {#</div>#}
                {#<div style="margin-top: 30px">#}
                    {#<p class="bootom_text">Украина, Киев</p>#}
                    {#<p class="bootom_text">Telephone : +38 097 6731570</p>#}
                    {#<p class="bootom_text"> E-mail : support@livenews.com.ua</p>#}
                {#</div>#}
            </div>
        </div>
    </div>
</div>