<div class="container-fluid" style="background: #272727;box-shadow: 0px -7px 10px -9px rgba(0,0,0,0.5)">
    <div class="container">
        <div class="row">
            <div class="d-none col-xl-4 d-xl-block col-lg-3 d-lg-block col-md-4 d-md-block" style="height: 200px; background: url('/src/img/logo/qq.jpg')no-repeat center center ; ">

            </div>

            <div class="d-none col-xl-8 d-xl-block col-lg-8 d-lg-block" style="height: 180px; margin-top: 70px">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- livenews_top_#_2 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-2313537604380651"
                     data-ad-slot="3460315163"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="d-none d-xl-none d-lg-none col-md-8 d-md-block" style="margin-top: 50px">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- livenews_top_2 -->
                <ins class="adsbygoogle"
                style="display:inline-block;width:468px;height:60px"
                data-ad-client="ca-pub-2313537604380651"
                data-ad-slot="2009399059"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="d-flex justify-content-end">
                        <div style="position: absolute; height: 25px; width: 160px; background: #314241;  border-radius: 0 0 10px 10px"></div>
            </div>
        </div>
    </div>
</div>