<div class="container-fluid" style="background: #272727;">
    <div class="row">
        <div class="col-12 d-xl-none d-lg-none d-md-none" style="min-height: 50px; box-shadow: black 0 0 10px">
            <div class="mobile_menu_ico">
                <span class="mobile_menu_ico_span"></span>
            </div>
        </div>
        <div class="col-12 d-xl-none d-lg-none d-md-none">
            <div class="mobile_menu_content" style="position: absolute; margin-left: -15px; width: 100%; background: white; z-index: 12000">
                {#<div style="position: relative">#}
                    {#{% for item in menu %}#}
                        {#{% if item.id == url %}#}
                            {#{{ item.category }}#}
                        {#{% elseif item.id != url %}#}
                            {#{{ item.id }} - {{ item.category }}#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</div>#}
            </div>
        </div>
    </div>
</div>


