
{#{% block right_block %}#}
    <div class="row">
        <div class="d-none col-xl-12 d-xl-block col-lg-12 d-lg-block col-md-12 d-md-block" style="margin-left: 10px">
            {#<div style="margin-top: 100px; margin-left: 75px">#}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- livenews_block_4 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;min-width:250px;min-height:450px"
                     data-ad-client="ca-pub-2313537604380651"
                     data-ad-slot="1601095127"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            {#</div>#}
        </div>
    </div>


    {#<div class="row">#}
        {#<div class="d-none col-xl-12 d-xl-block col-lg-12 d-lg-block col-md-12 d-md-block" style="height: 350px; margin-top: 50px; margin-left: 10px">#}
            {#<div class="row" style="position: relative">#}
                {#<div class="col-6" style="height: 25px; background: red">Hot news</div>#}
                {#<div class="col-12" style="height: 1px; background: red"></div>#}
                {#<div class="col-12" style="height: 350px; background: silver; margin-top: 10px"></div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="row">#}
        {#<div class="d-none col-xl-12 d-xl-block col-lg-12 d-lg-block col-md-12 d-md-block" style="height: 350px; margin-top: 50px; margin-left: 10px">#}
            {#<div class="row" style="position: relative">#}
                {#<div class="col-6" style="height: 25px; background: red">Hot discusion</div>#}
                {#<div class="col-12" style="height: 1px; background: red"></div>#}
                {#<div class="col-12" style="height: 350px; background: silver; margin-top: 10px"></div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}