<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Новини з усіх куточків України. Агрегатор новин, нейбільш авторитетних видавництв України"/>

    <link rel="stylesheet" type="text/css" href="/src/css/style.css">
    <link rel="stylesheet" type="text/css" href="/src/css/style_xs.css">

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/src/js/user_function.js"></script>
    <script src="/src/js/default_function.js"></script>
    <script src="/src/js/secure_function.js"></script>
</head>
<body>
{% include 'modul/servises_top.html.twig' %}
    {% block content %} {% endblock %}
{% include 'modul/footer.html.twig' %}
{% include 'modul/copywriter.html.twig' %}
</body>
</html>